*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    background: rgb(28, 43, 65);
}
#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 15px 0px 15px 0px;
    border-radius: 2px;
    transition: all ease-in-out;
    color: white;
    background: rgb(28, 56, 73);
    /* box-shadow: 10px 10px 10px #59696d; */
}
.inner-container{
    background: rgb(23, 35, 53);
    width: 370px;
    border-radius: 16px;
    
}
/* INFO SECTION STARTS */
.info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info-section >img{
    margin-top: 10px;
    width: 250px;
    /* border-top-left-radius: 16px;
    border-top-right-radius: 16px; */
    border-radius: 1000px;
    filter: brightness(75%);
    transition: all 1s ease-in-out;
}
.info-section >img:hover{
    filter: brightness(100%);
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info h1{
    letter-spacing: 1.1px;
    font-weight: 500;
    font-size: 25px;
    margin-top: 10px;
}
.info h2{
    font-weight: 300;
    padding: 5px;
    color: rgb(236, 173, 55);
    font-size: 14px;
}
.info h3{
    font-weight: 200;
    padding-bottom: 8px;
    font-size: 10px;
}
.info-buttons >button{
    margin-bottom: 22px;
    margin-top: 18px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: white;
    transition: all 0.4s ease-in-out;
}
.info-buttons >button:hover{
    background-color: rgb(49, 132, 132);
}
.email-btn{
    padding: 5px 28px 5px 19px;
    margin-right: 8px;
    font-size: 17px;
}
.info-icon{
    margin-right: 4px;
    font-size: 22px;
    padding-bottom: 3px;
    vertical-align: middle;

}
.linkedin-btn{
    padding: 5px 13px 5px 17px;
    margin-left: 8px;
    font-size: 18px;
}
/* INFO SECTION ENDS */
/* ABOUT SECION STARTS */

.about-section{
    padding: 0px 30px 0px 35px;
}
.about-h1{
    font-size: 22px;
    font-weight: 550;
    padding: 10px 0px 10px 0px;
}
.about-section >p{
    /* letter-spacing: 1px; */
    line-height: 20px;
    font-size: 14px;
}

/* ABOUT SECION ENDS */

/* INTEREST SECTION STARTS */

.interests-section{
    padding: 10px 30px 10px 35px;
}
.interests-h1{
    font-size: 22px;
    font-weight: 550;
    padding: 10px 0px 10px 0px;
}
.interests-section >p{
    /* letter-spacing: 1px; */
    line-height: 20px;
    font-size: 14px;
}

/* INTEREST SECTION ENDS */

/* FOOTER SECTION STARTS */

.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: rgb(21, 25, 30);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}
.footer-section >p{
    font-size: 16px;
}

/* FOOTER SECTION ENDS */

/* Preloader */
#preloader {
    background: #000 url('burger-loader.gif') no-repeat center center;
    background-color: white;
    background-size: 30%;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: 100;
}