*{
margin:0;
padding:0;
box-sizing: border-box;
}
body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
.sky{

    height:100vh;
    width: 100%;
    background-image: url(hehe.png);
    background-size :cover;
    /* for full screen image */
    position:absolute;
    background-repeat: no-repeat; 
}
#car{
    background-image: url(car_body.png) ;
    background-repeat: no-repeat; 
    height: 4em;
    width: 14em;
    background-size: cover;
    animation: shake linear .2s infinite;
    position: absolute;
    animation: carMove linear 10s infinite;
    margin-top: 30%;
}
.wheel1{
    background-image: url(car_wheel_left.png);
    background-size: cover;
    height: 2.5em;
    width: 2.5em;
    margin-left: 1.8em;
    position: relative;
    position: relative;
    top: 1.60em;
     
      animation: wheelRotation linear .6s infinite;
}
.wheel2{
    background-image: url(car_wheel_right.png);
    background-size: cover;
    height: 3em;
    width: 3em;
    position: relative;
    bottom: 1.03em;
    margin-left: 8.8em;
   animation: wheelRotation linear .6s infinite;
}

@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove
{
    100%{
        transform: translateX(200vw);
    }
}

@keyframes shake
{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes shakebody
{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
}