*{
padding: 0;
 margin:0; box-sizing: border-box;
}

body{
	scroll-behavior: smooth;
		overflow-x: hidden;
}
header{
	width: 100vw;
	height:90vh;
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
	background-size: cover;
	background-position:;
	position: relative;
	background-attachment: fixed;
}
nav{
	width: 100%;
	height:80px;
	background: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 80px;
	position:fixed;
	top:0;
	background:white;
	z-index: 1;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.logo{
	font-family: sans-serif;
	font-size:2.5em;
}
.logo span{
	color: #e74c3c;
}
.menu a{
	text-decoration: none;
	color: black;
	font-size:20px;
	
	padding: 10px 20px;
	font-family: sans-serif;

}
.menu a:first-child{
	color:#e74c3c;
}
.menu a:hover{
	color: #e74c3c;
	transition: 0.4s;
}
.icon i{
	font-size:20px;
}
.icon i:hover{
	color: #e74c3c;
}
.icon a{
	padding:10px 20px;
	background:#e74c3c;
	color:white;
	text-decoration: none;
	margin-left:30px;
	border-radius: 5px;  
}
.icon a:hover{
	background: transparent;
	border:1px solid #e74c3c;
	color: black;
	transition: 0.4s ease;
}
.h-text{
	max-width: 700px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	text-align: center;
}

.h-text h1{
	font-family: sans-serif;
	font-size: 3em;
	line-height:1.5em;
}
.h-text input{
	width: 60%;
	padding: 20px;
	border-radius: 8px;
	font-size: 20px;
	border:none;
	outline: none;
}
.h-text button{
	width: 30%;
	padding:20px;
	background: #e74c3c;
	font-size: 20px;
	border:none;
	outline: none;
	color: white;
	border-radius: 8px; 
	margin-top: 30px;
}


.filter-gallery{
	padding:100px;

}


.portfolio-menu{
		text-align: center;
		margin-bottom: 20px;
	}
	.portfolio-menu ul li{
		list-style: none;
		display: inline-block;
		margin:20px 0px;
		font-size: 20px;
		font-weight: bold;
		font-family: sans-serif;
		padding: 10px 20px;
		cursor: pointer;
		transition: 0.5s ease;
		text-align: center;
		

	}
	.portfolio-menu ul li:hover{
		background:  #e74c3c;
		color: white;
		border-radius: 8px;
	}
	li.active{
		background:#e74c3c;
		color: white;
		border-radius: 8px;
	}
	.portfolio-item{
		width: 100%;
	}
	.portfolio-item .item{
		width:360px ;
		height:360px;
		float: left;
		margin-bottom:20px;
		margin-right: 20px;
	}
.portfolio-item .item img{
	width: 100%;
	height: 100%;
	border-radius: 8px;
}



footer{
	background: #262626;
	color: white;
	width: 100%;
	
	padding: 50px 100px;

}

.f-contact p ul{
	text-align: center;
	align-items: right;
}
.f-contact{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:3em;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	padding: 20, 50;
}
.f-contact>div{
	flex-basis:20%;


}
.f-contact p{
	line-height:2em;
	font-size: 20px;
	color: grey;	
	cursor: pointer;
}
.f-contact p:hover{
	color: white;
}
.f-contact i{
	background: white;
	color: black;
	padding:10px;
	font-size:16px;
	margin: 20px 5px;
	border-radius: 50%;
	transition: .4s ease;
}
.f-contact i:hover{
	background: transparent;
	border:1px solid white;
	color: white;
}
footer{
	text-align: ;
	text-orientation: upright;
	align-items: right;
	flex-basis: 1;
}
ul#horizontal-list{

}