:root{
    --pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color: var(--pale-blue);
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

#card{
    width:375px;
    background-color: white;
    color:var(--desaturated-blue);
    border-radius: 13px;
    margin:50px auto;
}
#card img{
    border-radius: 13px;
}
h2,h3{
    color:black;
    font-weight: 900;
   
}
.hero-image{
    width:100%;
}
.container{
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.container .amount{
width:100%;
background-color: var(--very-pale-blue);
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 12px;
padding: 0;
font-size: 16px;
box-shadow: 3px 14px 14px 4px rgba(56,41,224,0.1);

}
.amount a{
    color:var(--bright-blue);
    font-size:13px;
    font-weight:900;
    padding-right: 25px;
}
.amount a:hover{
    opacity: 0.8;
    text-decoration:none;
}
.amount strong{
    color:var(--dark-blue);
}
.amount img{
    padding-left:15px
}
.container p{
    padding:10px;
    line-height:25px;
}
.btn1,.btn2{
    width:100%;
    padding:10px;
    margin-top:20px;
    border:0;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
}
.btn1{
    background-color: var(--bright-blue);
    color:white;
    
}
.btn1:hover{
    opacity:0.8;
}
.btn2{
    background-color:white;
    color:var(--esaturated-blue);
}
.btn2:hover{
    opacity: 0.8;
}
.description{
padding-right: 90px;
    line-height: 5px;
    padding-top:18px;
}
