*{
    font-style: normal;
    font-family: monospace, sans-serif;
}
body{
    background-color: rgb(226, 238, 238);
}
.clockcontainer{
    /* border: 2px solid red; */
    height: 450px;
    width: 450px;
    position: absolute;
    top: 8%;
    left: 32%;
    justify-content: center;
    align-items: center;
    background: url('clock1.png') no-repeat;
    background-size: 100%;
    margin: auto;
}
#hour ,#minute , #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 11px;
    height: 20%;
    top: 139px;
    left: 48.8%;
    opacity: 0.8;
    /* display: none; */
}

#minute{
    width: 6px;
    height: 24%;
    top: 121px;
    left: 49.3%;
    opacity: 0.8;
    /* display: none; */
}

#second{
    width: 4px;
    height: 29%;
    top: 99px;
    left: 49.5%;
    opacity: 0.8;
}

