/* Common Css */
*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
ul{
    padding-left: 0;
}
.btn:focus{
    outline: none!important;
    box-shadow: none;
}

/* Navbar */
nav{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
nav .navbar-brand img{
    height: 3rem;
    width: 7rem;
}
.nav-link{
    color: #111!important;
    margin-right: 1rem;
}
nav ul li .nav-link,
nav ul .btn{
    font-weight: 900;
    font-size: 13px; 
    letter-spacing: .5px;
}
nav ul .btn.login{
    color: #0275d8;
    margin-right: 10px;
}
nav ul .btn.signup{
    background-color: #FFA500;
    color: #fff;
}

/* Banner */
#banner{
    background: linear-gradient(to left, transparent 0%, #2e2e2e 150%), url('/assets/images/banner.jpg');
    height: 83vh;
    background-size: cover;
    background-position: center;
}
#banner::after{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 92vh;
    left: 50%;
    margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-top: -25px;
    background: url('/assets/images/banner.jpg');
    z-index: 0;
    background-position: 71% 65%;
    background-blend-mode: overlay;
}
#banner .container h1{
    font-size: 62px;
    font-weight: 900;
}
#banner .container h1.greentext{
    color: #1FDE89;
}
#banner .container p{
    font-size: 20px;
}
#banner .container .btn{
    background-color: #FFA500;
    font-size: 16px;
}

@media only screen and (max-width: 1000px){
    #banner .container h1{
        font-size: 40px!important;
    }
    #banner .container p{
        font-size: 18px;
    }
}

/* Below banner */
#bannerBottom
{
    background-color: #f5f5f5;
}
#bannerBottom img{
    height: 4rem;
    width: auto;
}
#bannerBottom .row .col-md-4 h3{
    font-weight: 800!important;
    font-size: 25px;
}
#bannerBottom .row .col-md-4 p{
    font-size: 16px;
    font-weight: 500;
}

/* personalized section */
#personalize #image{
    /* background-image: url("/assets/images/tab.PNG");
    background-size: cover;
    background-position: center; */
    height: 100%;
}
#personalize h4{
    font-weight: 800;
}
#personalize .text{
    font-weight: 600;
}
#personalize .btn{
    margin-left: 40px;
    font-weight: 600;
}

/* Mobile app */
#app{
    background-color: #f5f5f5;
    padding-top: 50px;
}
#app h4{
    font-weight: 800;
}
#app .text{
    font-weight: 600;
}
#app .btn{
    margin-left: 40px;
    font-weight: 600;
}
#app img{
    height: 100%;
    width: 100%;
}

/* features */
#features h3{
    font-weight: 800;
}
#features .btn{
    font-weight: 600;
}
#features h5{
    font-weight: 700;
}
#features .col-md-4 p{
    color: #636161;
}

/* mint */
#mint{
    background: linear-gradient(to bottom right, transparent 0%, #3d3b3b 150%), #6C9C9C;
}
#mint img{
    height: 150px;
    margin-top: -160px;
}
#mint h1{
    font-weight: 700;
    font-size: 50px;
}
#mint .btn{
    color: #fff;
}
#mint .btn:hover{
    color: #111;
}

/* Signup */
#signup h1{
    font-weight: 800;
}
#signup .btn.create{
    background-color: #FFA500;
    color: #fff;
    margin-right: 8px;
}
#signup .btn.login{
    color: #6e6d6d;
}
#signup .btn.login:hover{
    color: #fff;
}

/* Footer */
#footer{
    background-color: #111;
}
#footer h2{
    font-weight: 700;
    font-size: 25px;
}
#footer hr{
    margin: 5rem auto;
}
#footer .icons li i{
    font-size: 22px;
    color: #67b8d1;
}
#footer .icons li:not(:last-child):after{
    content: " | ";
    color: #8a8181;
}
#footer ul li{
    font-size: 13px;
}
#footer p{
    font-size: 12px;
}