*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
h1,h4{
    font-family: 'Roboto Slab', serif;
}

/* Navbar */
nav{
    opacity: 0.7;
    padding-top: 0!important;
    padding-bottom: 3px!important;
}
nav .navbar-brand img{
    height: 2rem;
}
nav .navbar-nav .nav-item .nav-link{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    padding-left: 17px;
    padding-right: 17px;
    border-left: 2px solid #111;
}

/* Banner */
#banner{
    background: radial-gradient(black 33%, transparent 33%), url("/assets/images/banner.jpg");
    background-size: 3px 3px, cover;
    background-position: center;
    height: 75vh;
    width: 100%;
}
#banner .content{
    padding-top: 150px;
}
#banner h1{
    font-family: 'Roboto slab', serif;
    font-size: 90px;
}
#banner p{
    font-size: 35px;
}
#banner i{
    font-size: 35px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    /* margin-top: 60px; */
    padding: 8px 8px 5px 8px;
}
@media only screen and (max-width:900px)
{
    #banner .content{
        padding-top: 130px;
    }
    #banner h1{
        font-size: 55px;
    }
    #banner p{
        font-size: 25px;
    }
}

/* Platforms */
#platform .col-12 .container{
    border: 1px solid #918e8e;
    border-radius: 5px; 
}
#platform .col-12 h4{
    margin-top: -32px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 31%;
    margin-right: 31%;
    background-color: #fff;
}
#platform h2.title{
    font-weight: 900;
}
#platform h2.title>sup{
    font-weight: 600;
    font-size: 10px;
    top: -1.5em;
}
#platform .col-12 .btn{
    box-shadow: 2px 2px 2px #eee;
    margin-bottom: 0!important;
}

/* Counter */
#counter{
    background-color: #18c418;
}
#counter i{
    font-size: 30px;
    border: 2px solid #eee;
    border-radius: 50%;
    color: #eee;
    padding: 15px;
}
#counter p{
    font-size: 20px;
}

/* Support */
#support{
    background: linear-gradient(to left, transparent 0%, #fff 150%), url('/assets/images/banner2.jpg');
    background-position: center;
    background-size: cover; 
    min-height: 80vh;
    width: 100%;
}
#support .desc{
    font-size: 20px;
}
#support img{
    max-height: 170px;
}

/* Awards */
#awards{
    background-color: #ffdf3c;
}

/* Testimonials */
#testimonial .test-cards{
    background: #eee;
    position: relative;
}
#testimonial .test-cards:after{
    content: "";
    border-top: 40px solid #c0bcbc;
    border-right: 200px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}
#testimonial .test-cards:after{
    border-right: 80px solid transparent;
    border-left: none;
    left: auto;
    right: 0;
}
#testimonial h5{
    font-weight: 600;
}
#testimonial p.text-uppercase{
    font-size: 15px;
}

/* Partners */
#partners .container-fluid{
    display: inline-block;
}
#partners img{
    height: 43px;
    padding-right: 14px;
    margin-bottom: 15px;
}

/* footer */
#footer{
    background-color: #25252b;
}
#footer h5{
    font-weight: 600;
}
#footer .social li{
    display: inline-block;
    margin: 2px;
    font-size: 16px;
}
#footer .social li i{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8px;
}
#footer .social li i.fa-facebook-f{
    padding-left: 10px;
    padding-right: 10px;
}
#footer .lowerfooter{
    font-size: 13px;
    padding-top: 20px;
}
#footer .lowerfooter ul li{
    display: inline-block;
    padding-right: 8px;
}
#footer .lowerfooter ul li:not(:last-child):after{
    content: ' | ';
    color: #eee;
    padding-left: 8px;
}