body {
  background-color: #0b0c0d;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.027);
  border: none;
  margin: 2rem auto;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  /* padding: 1rem 2.5rem ; */
}

.form-control input {
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
}

.form-control input:focus {
  outline: none;
}

.form-control button {
  background-color: #0b0c0d;
  color: white;
  border: none;
  padding: 0.8rem;
}

@media screen and (max-width: 480px) {
  .form-control {
    padding: 0.5rem;
    width: 80vw;
  }

  .form-control input {
    padding: 0.2rem;
  }

  .form-control button {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
