* {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

html,
body {
  background: #031321;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.clock {
  color: #fff;
  background-color: #2196f3;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  font-family: Orbitron;
  letter-spacing: 7px;
  box-shadow: 0 0 0 0 rgba(22, 162, 255, 0.888);
  animation: Animate 1.5s infinite;
}

@keyframes Animate {
  to {
    box-shadow: 0 0 10px 40px rgba(47, 168, 255, 0);
    border-radius: 1rem;
  }
}
