{% extends 'base.html' %} {% block body %}


<div class="container">
    <h1>Update a todo</h1>
    <form action="/update/{{todo.sno}}" method="POST">
        <div class="form-group">
            <label for="title">Todo Title</label>
            <input type="text" class="form-control" value={{todo.title}} name="title" id="title" aria-describedby="emailHelp" placeholder="Write your todo title">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="desc">Todo Description</label>
            <input type="text" class="form-control" value={{todo.desc}} name="desc" id="desc" placeholder="Describe it a bit">
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock body %}